.boostLinks {
  background: url(../images/bg-boost-mobile.svg) no-repeat;
  padding: 5rem 0 2rem;
  background-size: cover;
  background-color: var(--Dark-Violet);
  text-align: center;
}
.startedButton {
  width: 50%;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  font: bold 18px sans-serif;
}

@media (min-width: 768px) {
  .startedButton{
    width: 20%;
  }
}