.advanceText {
  padding-top: 20%;
}
.advanceBodyText {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
}
.cardSection {
  background: var(--gray);
  padding-top: 20%;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
/* .c */
.brandedCard {
  width: 18rem;
  padding: 10% 5% 5%;
  border-radius: 10px;
  /* margin-bottom: 5rem; */
}

.icons {
  background-color: var(--Dark-Violet);
  border-radius: 50%;
  padding: 5%;
  position: absolute;
  top: -45px;
  left: 46%;
  margin-left: -30px;
  width: 80px !important;
  height: 80px;
}
.bgLine {
  /* border: 6px solid var(--buttonBgColor); */
  /* display: flex;
  border-left: 6px solid var(--buttonBgColor);
  flex-direction: row-reverse; */
}
@media (max-width: 575.98px) {
.cardSection{
  padding-top: 40%;
}
}

@media (min-width: 576px) {
  .cardSection {
    padding-top: 20%;
  }
}
@media (min-width: 768px) {
  .brandedCard {
    padding: 4%;
  }
}
@media (min-width: 992px) {
  .brandedCard {
    width: 23rem;
  }
  .advanceText {
    padding: 10%;
  }
}
@media (min-width: 992px) {
  .cardSection {
    padding-top: 5%;
  }
}

@media (min-width: 1400px) {
  .advanceText {
    padding-top: 7%;
    padding: 10% 35% 0;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25rem;
    position: relative;
    margin-left: 4rem;
  }
  .brandedCard {
    position: absolute;
    top: 20%;
    left: 5rem;
  }
  .brandedCard1 {
    margin-top: 10%;
    position: absolute;
    left: 30rem;
    top: 10%;
  }
  .brandedCard2 {
    margin-top: 19%;
    position: absolute;
    left: 55rem;
    top: 1%;
  }
  .bgLine {
    border: 6px solid var(--buttonBgColor);
    height: 10px;
    width: 70%;
    margin-top: 25%;

  }
}
