.header {
  margin-bottom: 20%;
  padding: 5%;
}
.headerSection {
  margin-top: 3rem;
}
.startedButton {
  width: 50%;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  font: bold 18px sans-serif;
}
.headerText{
  font-size: 40px;
}

@media (min-width: 992px) {
  .imgTextWrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
  }
  .headerSection {
    width: 100%;
    text-align: left;
  }
  .imageSection {
    width: 100%;
  }
  .header {
  margin-bottom: 5%;

}
.headerText{
  font-size: 58px;

}
.headerSubText{
  text-align: start;
  color: grey;

}
}
@media (min-width: 1200px) { 
  .headerText{
  font-size: 60px;

}
/* .headerSubText{
  text-align: start;
  color: grey;

} */
 }
