.background{
    background: hsl(257, 27%, 26%);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.signUpButton {
  width: 90%;
  padding: 5%;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  font: bold 15px sans-serif;
}

